NODE_ENV=development
PORT=3333

AI_API_KEY=1
AI_MODEL=1
# Ao usar Ollama
# http://ollama:11434/v1/chat/completions se o backend estiver no Docker
# http://localhost:11434/v1/chat/completions se o backend NÃO estiver no Docker
AI_API_URL=1

CORS_ORIGIN=1